TG_BOT_TOKEN=
TG_CHANNEL_ID=
SUPABASE_URL=https://cdvxlzjroubzzfxzrhmp.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNkdnhsempyb3VienpmeHpyaG1wIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzNjc1MTYsImV4cCI6MjA4Nzk0MzUxNn0.bQfNsh8f9BXe5zEXIAuk8fzszET7vSjyX0_k4jGGEnQ
PORT=3000
FRONTEND_ORIGIN=http://localhost:5500
